.elementor-325 .elementor-element.elementor-element-8520321{
  --display:flex;
  --min-height:500px;
  --flex-direction:row;
  --container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
  --container-widget-height:100%;
  --container-widget-flex-grow:1;
  --container-widget-align-self:stretch;
  --justify-content:center;
  --align-items:center;
  --gap:0px 0px;
  --background-transition:0.3s;
  --overlay-opacity:0.87;
  --margin-top:-100px;
  --margin-bottom:0px;
  --margin-left:0px;
  --margin-right:0px;
  --padding-top:6em;
  --padding-bottom:2em;
  --padding-left:0em;
  --padding-right:0em;
}
.elementor-325 .elementor-element.elementor-element-8520321:not(.elementor-motion-effects-element-type-background), .elementor-325 .elementor-element.elementor-element-8520321 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
  background-image:url("https://plus.unsplash.com/premium_photo-1679496470437-a09743179634?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}
.elementor-325 .elementor-element.elementor-element-8520321::before, .elementor-325 .elementor-element.elementor-element-8520321 > .elementor-background-video-container::before, .elementor-325 .elementor-element.elementor-element-8520321 > .e-con-inner > .elementor-background-video-container::before, .elementor-325 .elementor-element.elementor-element-8520321 > .elementor-background-slideshow::before, .elementor-325 .elementor-element.elementor-element-8520321 > .e-con-inner > .elementor-background-slideshow::before, .elementor-325 .elementor-element.elementor-element-8520321 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{
  --background-overlay:'';
  background-color:black;
  opacity: 0.5;
}
.elementor-325 .elementor-element.elementor-element-8520321, .elementor-325 .elementor-element.elementor-element-8520321::before{
  --border-transition:0.3s;
}
.elementor-325 .elementor-element.elementor-element-95a06b6{
  --display:flex;
  --justify-content:center;
  --align-items:center;
  --container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
  --gap:0px 0px;
  --background-transition:0.3s;
}
.elementor-325 .elementor-element.elementor-element-5dfe3e9{
  text-align:center;
}
.elementor-325 .elementor-element.elementor-element-5dfe3e9 .elementor-heading-title{
  color:var( --e-global-color-c6ee8f7 );
  font-family:"El Messiri", Sans-serif;
  font-size:5rem;
  font-weight:600;
  text-transform:capitalize;
}
.elementor-325 .elementor-element.elementor-element-9c07028{
  text-align:center;
  color:var( --e-global-color-c6ee8f7 );
  font-family:"Karla", Sans-serif;
  font-size:1.5rem;
  font-weight:400;
  width:var( --container-widget-width, 70% );
  max-width:70%;
  --container-widget-width:70%;
  --container-widget-flex-grow:0;
}
.elementor-325 .elementor-element.elementor-element-9c07028 > .elementor-widget-container{
  margin:0em 0em 0em 0em;
}
.elementor-325 .elementor-element.elementor-element-9c07028.elementor-element{
  --align-self:center;
}
.elementor-325 .elementor-element.elementor-element-5b86538{
  --display:flex;
  --flex-direction:row;
  --container-widget-width:initial;
  --container-widget-height:100%;
  --container-widget-flex-grow:1;
  --container-widget-align-self:stretch;
  --gap:0em 5em;
  --background-transition:0.3s;
  --padding-top:5em;
  --padding-bottom:3em;
  --padding-left:0em;
  --padding-right:0em;
}
.elementor-325 .elementor-element.elementor-element-5b86538:not(.elementor-motion-effects-element-type-background), .elementor-325 .elementor-element.elementor-element-5b86538 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
  background-color:var( --e-global-color-c6ee8f7 );
}
.elementor-325 .elementor-element.elementor-element-5b86538, .elementor-325 .elementor-element.elementor-element-5b86538::before{
  --border-transition:0.3s;
}
.elementor-325 .elementor-element.elementor-element-d837b71{
  --display:flex;
  --flex-direction:column;
  --container-widget-width:100%;
  --container-widget-height:initial;
  --container-widget-flex-grow:0;
  --container-widget-align-self:initial;
  --background-transition:0.3s;
  --border-radius:10px 10px 10px 10px;
  --padding-top:3em;
  --padding-bottom:3em;
  --padding-left:3em;
  --padding-right:3em;
}
.elementor-325 .elementor-element.elementor-element-d837b71:not(.elementor-motion-effects-element-type-background), .elementor-325 .elementor-element.elementor-element-d837b71 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
  background-color:var( --e-global-color-f0d5716 );
}
.elementor-325 .elementor-element.elementor-element-d837b71, .elementor-325 .elementor-element.elementor-element-d837b71::before{
  --border-transition:0.3s;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .elementor-field-group{
  padding-right:calc( 10px/2 );
  padding-left:calc( 10px/2 );
  margin-bottom:20px;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .elementor-form-fields-wrapper{
  margin-left:calc( -10px/2 );
  margin-right:calc( -10px/2 );
  margin-bottom:-20px;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-325 .elementor-element.elementor-element-58fea90 .elementor-field-group.recaptcha_v3-bottomright{
  margin-bottom:0;
}
body.rtl .elementor-325 .elementor-element.elementor-element-58fea90 .elementor-labels-inline .elementor-field-group > label{
  padding-left:7px;
}
body:not(.rtl) .elementor-325 .elementor-element.elementor-element-58fea90 .elementor-labels-inline .elementor-field-group > label{
  padding-right:7px;
}
body .elementor-325 .elementor-element.elementor-element-58fea90 .elementor-labels-above .elementor-field-group > label{
  padding-bottom:7px;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .elementor-field-group > label{
  font-family:"Karla", Sans-serif;
  font-size:1rem;
  font-weight:400;
  text-transform:uppercase;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .elementor-field-type-html{
  padding-bottom:0px;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){
  background-color:#ffffff;
  border-color:#E6E6E6;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .elementor-field-group .elementor-select-wrapper select{
  background-color:#ffffff;
  border-color:#E6E6E6;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .elementor-field-group .elementor-select-wrapper::before{
  color:#E6E6E6;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .elementor-button{
  font-family:"Karla", Sans-serif;
  font-weight:500;
  text-transform:uppercase;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .e-form__buttons__wrapper__button-next{
  color:#ffffff;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .elementor-button[type="submit"]{
  color:#ffffff;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .elementor-button[type="submit"] svg *{
  fill:#ffffff;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .e-form__buttons__wrapper__button-previous{
  color:#ffffff;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .e-form__buttons__wrapper__button-next:hover{
  color:#ffffff;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .elementor-button[type="submit"]:hover{
  color:#ffffff;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .elementor-button[type="submit"]:hover svg *{
  fill:#ffffff;
}
.elementor-325 .elementor-element.elementor-element-58fea90 .e-form__buttons__wrapper__button-previous:hover{
  color:#ffffff;
}
.elementor-325 .elementor-element.elementor-element-58fea90{
  --e-form-steps-indicators-spacing:20px;
  --e-form-steps-indicator-padding:30px;
  --e-form-steps-indicator-inactive-secondary-color:#ffffff;
  --e-form-steps-indicator-active-secondary-color:#ffffff;
  --e-form-steps-indicator-completed-secondary-color:#ffffff;
  --e-form-steps-divider-width:1px;
  --e-form-steps-divider-gap:10px;
}
@media(min-width:768px){
  .elementor-325 .elementor-element.elementor-element-95a06b6{
      --width:80%;
  }
  .elementor-325 .elementor-element.elementor-element-d837b71{
      --width:100%;
  }
}
@media(max-width:767px){
  .elementor-325 .elementor-element.elementor-element-8520321{
      --min-height:300px;
      --padding-top:8em;
      --padding-bottom:3em;
      --padding-left:1em;
      --padding-right:1em;
  }
  .elementor-325 .elementor-element.elementor-element-95a06b6{
      --padding-top:0px;
      --padding-bottom:0px;
      --padding-left:0px;
      --padding-right:0px;
  }
  .elementor-325 .elementor-element.elementor-element-5dfe3e9 .elementor-heading-title{
      font-size:3rem;
  }
  .elementor-325 .elementor-element.elementor-element-9c07028{
      width:100%;
      max-width:100%;
  }
  .elementor-325 .elementor-element.elementor-element-5b86538{
      --padding-top:3em;
      --padding-bottom:3em;
      --padding-left:1em;
      --padding-right:1em;
  }
  .elementor-325 .elementor-element.elementor-element-d837b71{
      --padding-top:1em;
      --padding-bottom:1em;
      --padding-left:1em;
      --padding-right:1em;
  }
}
